@import './variables';

.button {
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    border: 5px solid transparent;
    font-size: 14px;
    clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 27%);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: $main-color;
    transition: 0.3s transform;
    cursor: pointer;
    @media (any-hover: hover) {
        &:hover {
            transform: translateY(-3px);
        }
    }
    &__long {
        min-width: 170px;
        clip-path: polygon(6% 0, 100% 0, 100% 75%, 93% 100%, 0 100%, 0% 27%);
        margin: 45px auto 0 auto;
    }
    &__main, &__secondary {
        &:hover {
            color: #fff;
        }
    }
    &__secondary {
        background-color: $grey;
    }
    &:disabled {
        filter: grayscale(0.6)
    }
}