@import '../../../style/variables.scss';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px minmax(auto, 550px) auto;
    column-gap: 50px;
    align-items: start;
    @media (max-width: 991.98px) {
        column-gap: 20px;
    }
    @media (max-width: 767.98px) {
        grid-template-columns: repeat(1, 100%);
        margin-top: 20px;
    }
    &__img {
        width: 293px;
        height: 450px;
        @media (max-width: 767.98px) {
            width: 230px;
            height: auto;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        @media (max-width: 767.98px) {
            text-align: center;
            padding: 10px 0;
        }
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
        @media (max-width: 767.98px) {
            margin-top: 15px;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin: 25px 0;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}